.content {
    width: 100%;
    float: left;
}

.rojo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 200px;
    padding-right:200px;
    float: left;
    position: relative;
    color:yellow;
    background-color:red;
    border: black solid 1px;
    height: auto;
    font-size: 30px;
    margin-left: 10px;
}

.negro {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 200px;
    padding-right:200px;
    position: relative;
    color:white;
    background-color:black;
    float: left;
    border: black solid 1px;
    height: auto;
    font-size: 30px;
    margin-left: 10px;
}